html, body {
  color: white;
}

.navi {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  justify-content: space-evenly;
}

.nav-items-container {
  box-sizing: border-box;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0);
}

.navi::after,
.navi::before {
  position: absolute;
  top: 0;
  bottom: 0;
}

.navi::before {
  content: '';
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid green;
  border-left: 50px solid transparent;
}

.navi::after {
  content: '';
  right: 0;
  width: 0;
  height: 0;
  border-top: 50px solid red;
  border-right: 50px solid transparent;
}

.active-top {
  background-color: aqua;
}

.section {
  position: initial;
  background-color: #282c34;
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.start-section {
  background-image: url(../src/img/code-dark.jpg);
  background-size: cover;
  background-position-x: 20%;
}

.start-main {
  background-color: rgba(0, 0, 0, 0.3);
}

.link {
  color: #61dafb;
}