html, body {
  color: white;
}

a {
  cursor: pointer;
}

.navi {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  justify-content: space-evenly;
}

.navi-background {
  position: absolute;
  height: 0;
  width: 100%;
  border-top: 50px solid rgba(0, 0, 0, 0);
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.nav-item {
  position: relative;
  z-index: 1000;
}

.section {
  position: initial;
  background-size: cover;
  padding-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbo {
    box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}

.link {
  color: #61dafb;
}